.huevo-animacion {
  width: 60px;
  position: absolute;
  animation: caida 1.5s forwards;
}

@keyframes caida {
  0% { top: 20%; transform: rotate(0deg); opacity: 1; }
  100% { top: 100%; transform: rotate(180deg); opacity: 0; }
}

.aparecer {
  animation: zoomIn 0.8s ease-out forwards;
}

@keyframes zoomIn {
  from { transform: scale(0); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}